@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@100;400;700&display=swap');

$background : #EFF5F5;
$orange : #EB6440;
$blue_light : #D6E4E5;
$turquesa : #497174;
$title : #1E1E1E;
$icons : #333333;